<li class="burgerLi">
	{{burger_name}}

	<button class="devoured" data-id="{{id}}" data-newEaten="{{devoured}}">
		{{#if devour}}Regurgitate!{{else}}Devour!{{/if}}
	</button>

	<button class="delete" data-id="{{this.id}}">
		Delete
	</button>
</li>
