<li class="burgerLi">
	{{burger_name}}

	<button class="devour" data-id="{{id}}" data-newEaten="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Regurgitate!{{/if}}
	</button>

	<button class="delete" data-id="{{this.id}}">
		Delete
	</button>
</li>
